.slider-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin-bottom: 5vh;
  padding: 24px 0;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  gap: 24px;
}

.slider-content .card {
  width: 17vw;
}

.slider-button {
  position: absolute;

  background-color: rgba(0, 0, 0, 0.467);
  color: white;
  font-size: 2.5rem;
  opacity: 0;
  height: 100%;
}

.slider-wrapper:hover .slider-button {
  opacity: 1;
}

.two {
  right: 0;
}

.one {
  left: 0;
}

.two,
.one {
  z-index: 4;
  border: none;
  width: 6vw;
}

/* !Mobile Version */

@media only screen and (max-width: 600px) {
  .slider-content {
    flex-direction: column;
    align-items: center;
  }

  .slider-content .card {
    width: 100%;
  }
}
