nav {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(4, 15, 20, 1) 0%,
    rgba(4, 15, 20, 0) 100%
  );
  width: 97vw;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 20px 70px;
  margin-left: 85px;
}

nav a {
  text-decoration: none;
}

.search {
  width: 300px;
}

.logo {
  width: 220px;
}

/* !Mobile Version */

@media only screen and (max-width: 600px) {
  nav {
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    width: 80vw;
    padding: 10px 0;
    margin-left: 55px;
  }
  .logo {
    width: 70px;
    position: relative;
    left: 0;
  }
  .search {
    width: 220px;
    padding-left: 7vw;
  }
}
