/* Esto de abajo no funciona */

input[name="hidden-scroll"] {
  display: none !important;
  outline: none;
}

input[name="hidden-scroll"] + label {
  position: relative;
  padding-left: 0;
  cursor: pointer;
  outline: none;
}

input[name="hidden-scroll"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: none !important;
  background-color: transparent !important;
  margin-top: 0 !important;
  outline: none;
}

/* input[name="hidden-scroll"]:checked + label:before {
  background-color: transparent !important;
  content: "";
  border: none !important;
  color: transparent !important;
  margin: 0 !important;
} */

.scroll-wrapper .scroll-to-btn {
  position: fixed;
  /* height: 100%;
  width: 100%; */
  /* top: 85vh;
  padding: 1rem; */
  opacity: 0.3;
  /* font-size: 1.5rem;
  width: 3rem;
  height: 3rem; */
  color: #040f14;
  /* border-radius: 50%; */
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 50;
  line-height: 40px;
  cursor: pointer;

  /* background-color: #ff4654; */
}

/* --- */

.scroll-wrapper .right {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12px 23px 12px;
  border-color: transparent transparent #ff4532 transparent;
  transform: rotate(0deg);
  right: 1.4rem;
  top: 48rem;
}

.scroll-wrapper .left {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12px 23px 12px;
  border-color: transparent transparent #ff4532 transparent;
  transform: rotate(180deg);
  /* left: 8rem; */
  right: 1.4rem;
  top: 50rem;
}

.scroll-to-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.down,
.up {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  align-items: center;
  position: relative;
  right: 0.95rem;
  top: 0.7rem;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

.down {
  top: 0.6rem;
  font-size: 1rem;
}

.down {
  transform: rotate(180deg);
}

.scroll-wrapper .scroll-to-btn:hover {
  opacity: 1;
}

.scroll-wrapper .scroll-to-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-wrapper .flex-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* !Mobile Version */

@media only screen and (max-width: 600px) {
  .scroll-wrapper .scroll-to-btn {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    top: 93vh;
  }

  .scroll-wrapper .left {
    right: 0.5rem;
    top: 95vh;
  }
  .scroll-wrapper .right {
    right: 0.5rem;
    top: 89vh;
  }
}
